body {
  background: linear-gradient(to right, orange, yellow);
  color: black;
  text-align: center;
}

.container {
  max-width: 500px;
  margin: auto;
}

input[type="text"] {
  padding: 5px;
}

button {
  padding: 5px;
  background-color: rgb(109, 203, 234);
  color: black;
  border-radius: 5px;
  border-color: rgb(255, 218, 149);
  cursor: pointer;
}

li button {
  cursor: pointer;
  margin-left: 15px;
  background-color: rgb(97, 225, 97);
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.todo-item.completed span {
  text-decoration: line-through;
}
